@charset "utf-8";

@font-face {
  font-family: 'Pretendard-Bold';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
} 
@font-face {
  font-family: 'Pretendard-ExtraLight';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
} 
@font-face {
  font-family: 'Pretendard-Medium';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
} 
:root{
  --color-main: #222;
  --color-bg: #fff;
  --color-sub: #bbb;
  --color-sub2: #666;
  --color-point: #df5200;
}
*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: inherit;
}
li{
  list-style: none;
}
body{
  background-color: var(--color-bg);
  color: var(--color-main);
  font-family: 'Pretendard';
}
header{
  height: 70vh;
}
header > nav{
  width: 100%;
  color: var(--color-bg);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
  margin-bottom: 170px;
}
header > nav > .menu-icon{
  display: none;
  font-size: 20px;
}
nav > ul{
  display: flex;
  font-weight: bold;
}
.list{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list > a{
  padding: 10px 50px;
  font-weight: bold;
  font-size: 16px;
}
.list-sub-menu{
  width: 100%;
  position: absolute;
  top: 40px;
  background-color: var(--color-bg);
  opacity: 0.9;
  z-index: 3;
}
.list-sub-menu > li{
  color: var(--color-main);
  padding: 10px 0;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
} 
.list-sub-menu > li:hover{
  color: #0f4733;
  font-weight: bolder;
}
/* .list-sub-menu.active{
  opacity: 1;
} */
.icon > a > img{
  width: 20px;
  height: 20px;
  margin: 0 7px;
}
.icon > a:nth-of-type(1) > img{
  width: 15px;
  height: 15px;
}
.b-txt{
  font-weight: bold;
  font-size: 14px;
}
.b-txt > a{
  padding: 7px;
}
.b-txt > a:hover{
  color: var(--color-main);
  background-color: rgba(255,255,255,0.5);
  border-radius: 5px;
}
.b-txt > a:nth-of-type(1){
  margin-right: 14px;
}
.h-wrap{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.h-list{
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  left: 13%;
}
.h-txt{
  width: 100%;
}
.h-txt > P{
  padding: 5px 0;
}
.h-txt > p:nth-of-type(1){
  font-weight: 300;
  font-size: 18px;
}
.h-txt > p:nth-of-type(2){
  font-size: 28px;
  font-weight: bold;
}
.h-txt > p:nth-of-type(3){
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 50px;
}
.h-txt > p:last-child{
  border-bottom: 2px solid var(--color-main);
  margin-right: 200px;
  font-size: 14px;
  color: #3F3E3C;
}
/* main영역 */
/* main 1번째 영역 */
.one{
  margin-top: 50px;
}
.one-wrap{
  display: flex;
}
.one-list{
  margin-left: 50px;
}
.one-list > p{
  font-size: 28px;
  font-weight: 500;
  margin-top: 30px;
}
.one-list > .price{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.one-list > .price > li:nth-of-type(2){
  font-size: 20px;
}
.one-list > img{
  float: right;
  margin-top:38px;
}
.tea{
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.tea > li{
  font-size: 15.4px;
  color: var(--color-sub2);
  border-right: 1px solid var(--color-sub2);
}
.tea > li:nth-of-type(1){
  padding-right: 10px;
}
.tea > li:nth-of-type(2){
  padding: 0 10px;
}
.tea > li:nth-of-type(3){
  border: none;
  padding-left: 10px;
}
.notice{
  width: 1150px;
  margin: 30px auto;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  padding: 0 20px;
  margin-top: 30px;
}
.notice > span:nth-of-type(2){
  width: 80%;
}
.notice > a > img{
  width: 20px;
  height: 20px;
}
/* main 2번째 영역 */
.chevron {
  display: flex;
  justify-content: space-between;
  position: absolute;
  cursor: pointer;
  z-index: 20;
}
.chevron > .right{
  right: 80px;
}
.left, .right{
  width: 40px;
  height: 40px;
  margin-top: 100px;
  text-indent: 10px;
}
.two > h2{
  margin-top: 50px;
  font-size: 30px;
}
.two{ overflow: hidden; }
.img-wrap{
  height:250px; 
  margin-top: 20px;
  width:200%;
}
.img-wrap a{ 
  display: block; 
  text-align: center;
  align-items: center; 
  float:left; 
  width:5%;  
}
.img-wrap a img{ 
  width:150px;
}
.img-wrap >.two-wrap > ul > li:nth-of-type(3){
  color: var(--color-sub2);
  font-size: 12px;
  text-decoration: line-through;
}
.img-wrap > .two-wrap > ul > span:nth-of-type(1){
  color: var(--color-point);
}
.img-wrap > .two-wrap > ul > span:nth-of-type(1),
.img-wrap > .two-wrap > ul > span:nth-of-type(2){
  font-weight: bold;
}
.two-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-sub);
  width: 200px;
  height: 50px;
  border-radius: 5px;
  margin: 0 auto;
  gap: 7px;
  margin-top: 100px;
}
.two-btn:hover,
.four-btn:hover,
.fv-btn:hover{
  background-color: #e7e7e7;;
}
.two-btn > i{
  font-size: 10px;
  color: var(--color-sub2);
}
/* 메인3번째 */
.three-oimg{
  background-image: url(./imges/greenteaSnak.jpg);
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  margin-top: 100px;
  position: relative;
}
.trd-txt{
  right: 10px;
  width: 40%;
  margin: 30px 10px;
  position: absolute;
  right: 10px;
}
.trd-txt > p{
  font-size: 25px;
  font-weight: bold;
  margin: 50px 0 20px 0;
}
.trd-txt > span{
  font-weight: 200;
}
.trd-txt > span:nth-of-type(1){
  color: var(--color-sub2);
  text-decoration: line-through;
}
.trd-txt > span:nth-of-type(2){
  font-size: 30px;
  margin: 0 10px;
}
.trd-txt > span:nth-of-type(3){
  display: inline-block;
  background-color: var(--color-point);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  color: var(--color-bg);
  font-weight: bold;
  font-size: 25px;
}
.time-txt{
  display: flex;
  gap: 30px;
}
.time-txt > span{
  font-weight: bold;
}
.time-txt > span,
.time{
  font-size: 25px;
}
.time{
  color: var(--color-sub2);
}
.time > .clock{
  font-weight: 200;
}
.time > i {
font-size: 25px;
}
.three-img-wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
}
.three-timg{
  background-image: url(./imges/check.webp);
  width: 49%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: contain;
}
.three-timg-txt{
  margin: 120px 0 0 50px;
}
.three-timg-txt > p{
  font-size: 25px;
  margin-bottom: 10px;
}
.three-timg-txt > span:nth-of-type(2){
  display: inline-block;
  background-color: rgb(0, 161, 0);
  border-radius: 5px;
  width: 50px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: var(--color-bg);
  font-weight: bold;
  margin-left: 5px;
}
.three-trdimg{
  background-image: url(./imges/open.webp);
  width: 49%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: contain;
}
.three-trdimg > p{
  font-size: 25px;
  font-weight: bold;
  color: var(--color-bg);
  margin: 120px 0 0 50px;
}
/* 메인 4번째 */
.four > h2{
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 80px;
}
.four > p{
  color: var(--color-sub);
  font-weight: 200;
}
.four a img {
  width: 50px;
  height: 50px;
  margin-top: 150px;
}
.slide{
  overflow: hidden;
  margin-top: 20px;
}
.slide_inner{
  width:200%;
  display: flex;
  justify-content: space-between;
}
.slide_btn button{ 
  border:0; 
  background: none;
  position: absolute; left:50%;
  margin-top:200px; 
}
.slide_btn button:first-child{ margin-left:-650px; } 
.slide_btn button:last-child{ margin-left:600px; } 
.slide_btn button:hover{ 
  opacity:0.5; 
  cursor: pointer; 
}
.slide_inner a{
  width: 30%;
  height: 380px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 8px;
}
.slide_inner a p{
  color: var(--color-bg);
}
.slide_inner a p:nth-of-type(3){
  color: var(--color-bg);
}
.slide_inner a p:nth-of-type(1){
  font-size: 30px;
  margin: 120px 0 20px 50px;
}
.slide_inner a p:nth-of-type(2){
  margin-left: 50px;
  font-size: 14px;
  font-weight: 200;
  margin-bottom: 5px;
}
.slide_inner a p:nth-of-type(3){
  margin-left: 50px;
  font-size: 14px;
  font-weight: 200;
}
.one-card{
  background-image: url(./imges/bukchon.webp);
}
.two-card{
  background-image: url(./imges/hanmam.webp);
}
.trd-card{
  background-image: url(./imges/osullocTeaHouse.webp);
}
.four-card{
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(./imges/제주\ 오설록\ 티뮤지엄.jpg);
  background-position: center top;
  /* filter: brightness(50%); */
}
.five-card{
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(./imges/티하우스\ 용산파크점.jpg);
  background-position: center top;
}
.six-card{
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(./imges/티하우스\ 해운대점.jpg);
  background-position: center top;
}
.four-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-sub);
  border-radius: 5px;
  width: 250px;
  height: 50px;
  margin: 0 auto;
  margin-top: 30px;
}
.four-btn > i{
  color: var(--color-sub2);
  font-size: 10px;
  margin-left: 7px;
}
/* 5번쨰 메인 */
.five > h2{
  margin-top: 100px;
  margin-bottom: 10px;
  font-size: 30px;
}
.five > p{
  color: var(--color-sub);
  font-weight: 200;
  margin-bottom: 20px;
}
.fv-img{
  background-image: url(./imges/fiveimg.jpg);
  background-size: cover;
  width: 100%;
  height: 350px;
  background-repeat: no-repeat;
}
.fv-btn{
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border:  1px solid var(--color-sub);
  border-radius: 5px;
  width: 200px;
  height: 50px;
}
.fv-btn > i{
  color: var(--color-sub2);
  font-size: 10px;
  margin-left: 7px;
}
/* 미디어쿼리 */
@media screen and (max-width:1200px){
  section{ width:95%; margin:0 2.5% }
  header > nav{
    position: relative;
  }
  header > nav > .menu-icon{
    position: absolute;
    display: block;
    top: 20px;
    left: -180px;
    cursor: pointer;
  }
  header > nav > a {
    margin: 0 auto;
  }
  nav > ul,
  .b-txt,
  .h-bar > .hr-border{
    display: none ;
  }
  .one-list{
    margin-left: 20px;
  }
  .one-list > p{
    font-size: 24px;
    margin-top: 15px;
  }
  .one-list > img{
    width: 65%;
    margin-top: 10px;
  }
  .notice{
    width: 83%;
    margin-left: 20px;
  }
  .two > h2,
  .four > h2, .four > p,
  .five > h2, .five > p{
    margin-left: 20px;
  }
  .two > h2,
  .four > h2,
  .five > h2{
    font-size: 24px;
  }
  .two-btn, .fv-btn{
    width: 170px;
    margin-left: 36%;
  }
  .four-btn{
    width: 220px;
    margin-left: 36%;
  }
}
@media screen and (min-width:1200px) {
  header{ background: url(./imges/main.webp) no-repeat center top/cover; }
  section{ width: 1200px; margin: 0 auto;  }
  .chevron{ width: 1200px; }
  .img-wrap{
    height:250px; 
    margin-top: 20px;
    width:200%;
  }
  .img-wrap a{ 
    display: block; 
    text-align: center; 
    float:left; 
    width:5%;  
  }
  .img-wrap a img{ width:150px;}
  .two > div:nth-of-type(2){ width:200%; }
  .f-list-trd a{ display: block; width:65px; font-size:14px;}
}
@media screen and (max-width:1199px) {
  header{ background: url(./imges/main.webp) no-repeat top/cover; }
  header > nav > a { text-indent: 100px; }
 
  .one{ width:100%; margin: 0; padding:0; }
  .one-wrap{ width:100%;  flex-wrap: wrap; }
  .one-wrap>div{ width:100%; }
  .one-wrap video{  width:90%; margin:50px 5%; }

  .one .one-list{ width:90%; margin: 50px auto ; padding:0; }
  .tea li{ font-size:13px; }
  .one .one-list img{ float:right; margin-top: -100px; margin-right: -20px; width:30%; }

  .one .notice{ width:90%; margin: 0 auto; }
  /* .one .notice span:first-child{ width:20%; text-align: center;}
  .one .notice span:nth-of-type(2){ width:70%; } */
                          
  .two{ margin-top:100px; }

  .chevron{ position:absolute; right:0; margin-top:-125px; width:80px; height:20px;}

  .img-wrap{  width:200%;  position: relative; margin-top: 20px; overflow: hidden; }
  .img-wrap a{ float:left; width:5%;  }

  .two > div:nth-of-type(2){ width:250%; }
  .two-wrap li:nth-of-type(2){ width: 99%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
  .two .two-btn{ margin:50px auto; }
 
  .trd-txt > .time-txt span,.trd-txt > .time-txt i,.trd-txt p{font-size: 22px;}
  .trd-txt > span:nth-of-type(2){font-size: 25px;}
  .trd-txt > span:nth-of-type(3){width: 50px; height: 50px; line-height: 50px; font-size: 20px;}
  .three-img-wrap{ flex-wrap: wrap;  margin:0; padding:0; }
  .three .three-img-wrap>div{ width:100%; margin-top:50px;} 
  
  .three-timg{  background: url(./imges/check.webp) no-repeat center top/600px auto #f0e4e6; }
  .three-timg-txt{ width:400px; margin:100px auto; }
  .three-trdimg{ background: url(./imges/open.webp) no-repeat center bottom/cover; }
  .three-trdimg p{ width:400px; margin:100px auto; }

  .slide{ width:100%;}
  .four .slide_btn{ display: none; }
  .slide_inner{ width:300%;}
  .slide_inner p{ width:300px; }
  .fv-img{background: url(./imges/fiveimg.jpg) no-repeat center top;}

  .four-btn{width: 220px; margin: 50px auto; }
  .two-btn, .fv-btn {  width: 170px; margin: 100px auto; clear:both; }
}

@media screen and (min-width:550px) and (max-width:799px) {
  header{background: url(./imges/main.webp) no-repeat right -350px top/cover;}

  .h-txt{margin-left: -10px; padding-right: 10px;}
  .h-txt > p:nth-of-type(2){font-size: 22px;}
  .h-txt > p:last-child{font-size: 14px;}

  .three-oimg .trd-txt{ width:90%; height:200px; margin:0 5%; padding-top:30px;}
  .trd-txt>span:last-child{ text-indent: 0; margin-left:20px; }
  .trd-txt > .time-txt span,.trd-txt p{margin-left: 10px;}
  .three-oimg .trd-txt span{margin-left: 10px;}
  .time-txt{display: flex; justify-content: space-between;}
  .trd-txt > p{margin-top: 100px; margin-bottom: 0;}
  /* .three-oimg .trd-txt{ width:49%; height:200px; padding-top:30px; } */
}

@media screen and (max-width:550px){
  header{background: url(./imges/main.webp) no-repeat right -350px top/ cover ;}
  
  .h-txt{margin-left: -10px; padding-right: 10px;}
  .h-txt *:not(:last-child){color: var(--color-bg);}
  .h-txt > p:nth-of-type(2){font-size: 22px;}
  .h-txt > p:last-child{font-weight: 500; font-size: 12px;}

  .one-wrap video{ width:95%; margin: 50px 2.5%; }

  .notice span{ font-size: 14px;}
  .four .slide_inner{ flex-wrap: wrap; margin:0; padding:0;}
  .four .slide_inner a{margin:0; padding:0;}

  .one-list p{font-size: 20px;}
  .tea li{ font-size: 12px;}
  .one-list > .price > li:nth-of-type(2){ font-size: 18px;}

  .chevron{ display: none;}

  .img-wrap{ width:100%;  position: relative; margin-top: 20px; overflow: auto; }
  .img-wrap a{ float:left; width:50%;  }

  .two>div .img-wrap{ flex-wrap: wrap; width:100%; }
  .two > div:nth-of-type(2){ width:100%; text-align: center; }
  .two>div .img-wrap .two-wrap ul li{ width:100%; }
  .two>div .img-wrap .two-wrap ul li img{ width:150px; }

  .three-oimg .trd-txt{ width:90%; height:200px; margin:0 5%; padding-top:30px; }
  .trd-txt > .time-txt span,.trd-txt p{margin-left: 20px;}
  .trd-txt > p{font-size: 20px; margin-top: 130px; margin-bottom: 0;}
  .three-oimg .trd-txt span{margin-left: 20px;}
  .three-oimg .trd-txt span:nth-of-type(3){
    width: 40px; 
    height: 40px; 
    line-height: 40px; 
    font-size: 13px; 
    margin-left: -5px;
  }
  .trd-txt>span:last-child{ text-indent: 0; margin-left:20px; }
  .trd-txt > .time-txt span:last-child{margin-left: 0;}
  .three .three-oimg{ background: url(./imges/greenteaSnak.jpg) no-repeat right -300px center/600px auto #d4d9a3; }
  .time-txt{display: flex; justify-content: space-between;}
  .three-timg{  background: url(./imges/check.webp) no-repeat center center/500px auto #f0e4e6; }

  .slide{ width:100%;}
  .four .slide_btn{ display: none; }
  .slide_inner{ width:100%; flex-wrap: wrap;}
  .slide_inner>a{ border:10px solid #fff; width:100%; margin-bottom:50px; }
  .slide_inner p{ width:300px; }

  .four-btn{width: 220px; margin: 50px auto; }
  .fv-img{ background: url(./imges/fiveimg.jpg) no-repeat center/900px auto;}
  .two-btn, .fv-btn {  width: 170px; margin: 50px auto; clear:both; }
} 

/*★★★★ footer ★★★★*/
/*===============오설록 사이트의 footer와 비슷한 스크린 폭을 맞춰서 CSS를 적용======*/
/* (1)footer Desktop 미디어쿼리*/
@media screen and (min-width:1200px){
  .f-bar{
    margin-top: 100px;
    width: 100%;
    height: 60px;
    background-color: #646060;
  }
  .f-sns{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    padding-top: 10px;
  }
  .f-sns > a:nth-of-type(1){
    color: var(--color-bg);
    border: 1px solid var(--color-main);
    background-color: #3F3E3C;
    padding: 10px 30px;
  }
  .f-wrap{
    background-color: #f1f1f1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .f-list-one{
    margin: 50px 40px;
    margin-left: 50px;
  }
  .f-list-two{
    margin: 50px 20px;
  }
  .f-list-one > p:nth-of-type(1){
    margin-bottom: 7px;
  }
  .f-list-one > p:nth-of-type(3),
  .f-list-one > p:nth-of-type(4){
    margin-bottom: 4px;
  }
  .f-list-two > p:nth-of-type(1){
    margin-bottom: 10px;
  }
  .f-list-two > p:nth-of-type(2){
    margin-bottom: 5px;
  }
  .f-list-two > p:nth-of-type(3){
    margin-bottom: 7px;
  }
  .f-list-one > p:nth-of-type(1),
  .f-list-one > p:nth-of-type(4),
  .f-list-one > p:nth-of-type(5),
  .f-list-two > p:nth-of-type(1),
  .f-list-two > p:nth-of-type(3),
  .f-list-two > p:nth-of-type(4){
    color: var(--color-sub2);
  }
  .f-list-one > p:nth-of-type(1),
  .f-list-two > p:nth-of-type(1){
    font-size: 14px;
  }
  .f-list-one > p:nth-of-type(4),
  .f-list-one > p:nth-of-type(5),
  .f-list-two > p:nth-of-type(4){
    font-size: 12px;
  }
  .f-list-one > p:nth-of-type(2), 
  .f-list-one > p:nth-of-type(3),
  .f-list-two > p:nth-of-type(2){
    color: #3F3E3C;
  }
  .f-list-one > p:nth-of-type(3){
    font-size: 25px;
  }
  .f-list-two > p:nth-of-type(2){
    font-weight: bold;
    text-decoration: underline;
  }
  .f-list-two > p:nth-of-type(3){
    font-weight: bold;
  }
  .f-list-trd{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    gap: 50px;
    margin-left: 150px;
  }
  .f-list-trd > ul:nth-of-type(1){
    border-left: 1px solid var(--color-sub);
    padding-left: 50px;
  }
  .f-osulloc{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .f-osulloc > a > img{
    margin-left: 50px;
  }
  .introduce{
    display: flex;
    margin: 20px;
    width:600px;
  }
  .introduce > li{
    color: #000; 
    border-right: 1px solid #000;
    padding: 0 10px;
    font-size: 10px;
  }
  .introduce > li:nth-of-type(1){
    padding-left: 0;
  }
  .introduce > li:nth-last-child(1){
    border: none;
  }
  .introduce-two,
  .introduce-trd{
    margin: 10px 15px;
    font-size: 10px;
    color: var(--color-sub);
  }
  .foot-btn{
    color: var(--color-sub2);
    border: 1px solid var(--color-sub);
    padding: 3px 7px;
    background-color: #f0f0f0;
    margin-left: 5px;
  }
  .foot-btn > span,
  .foot-btn > i{
    font-size: 8px;
  }
  .blue-logo{
    margin-top: 20px;
    border: 1px solid var(--color-sub);
    margin-left: 100px;
    height: 100px;
  }
  .blue-logo > p{
    font-size: 10px;
    color: var(--color-sub2);
    font-weight: bold;
    padding: 20px 0 0 20px;
  }
  .f-detail{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
  }
  .f-detail > a > img{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-right: 10px;
  }
  .f-detail > p{
    font-size: 10px;
    font-weight: 200;
  }
}
/* (2-1)footer Tablet 미디어쿼리1*/
@media screen and (min-width:910px) and (max-width:1199px) {
  footer{ margin-top: 100px; }
  .f-list-trd{ display: none; }
  .f-wrap{  
      height: 350px; padding:50px 0; display: flex;
      background-color: #f1f1f1;
  }
  .f-wrap>div:nth-child(1){ margin-left:40%; width:33%; }
  .f-wrap>div:nth-child(2){ text-align: left; }
  .f-wrap>div p:first-child{ font-size:12px; font-weight: bold; margin-bottom:30px; }
  .f-wrap>div p:first-child~*{  font-size: 12px; margin-bottom:5px; }
  /*평일,점심*/
  .f-list-one p:nth-child(4), .f-list-two p:nth-child(4){
      width:130px; line-height:20px;
  }
  .f-list-one p:nth-child(5){ display:none;}  
  .f-sns{ position: absolute; left:40%; margin-top:230px; }
  .f-sns::before{
      content: "소셜미디어";
      display: block;
      font-size:12px; font-weight: bold; margin-bottom:30px;
  }
  .f-sns a:first-child{ display: none;}
  .f-sns a{ display: block; }
  .f-sns a img{ width:22px; margin-bottom:5px; margin-right:5px; }
  .f-sns a:nth-child(2)::after{ content: "틱톡"; vertical-align: top; font-size: 12px;}
  .f-sns a:nth-child(3)::after{ content: "유튜브"; vertical-align: top; font-size: 12px;}
  .f-sns a:nth-child(4)::after{ content: "인스타그램"; vertical-align: top; font-size: 12px;}      

  .f-osulloc>a{  
    display: block; width:33%; text-align: center;
    position: absolute; left:0; margin-top: -430px;}
  .f-osulloc>a img{ mix-blend-mode: difference; }

  .f-osulloc{
    display: flex;
    justify-content: space-between; padding-right:20px;
  }
  .introduce{
    display: flex; width:580px;
    margin: 20px;
  }
  .introduce > li{
    color: #000;
    border-right: 1px solid #000;
    padding: 0 10px;
    font-size: 10px;
  }
  .introduce > li:nth-of-type(1){
    padding-left: 0;
  }
  .introduce > li:nth-last-child(1){
    border: none;
  }
  .introduce-two,
  .introduce-trd{
    margin: 10px 15px;
    font-size: 10px;
    color: var(--color-sub);
  }
  .foot-btn{
    color: var(--color-sub2);
    border: 1px solid var(--color-sub);
    padding: 3px 7px;
    background-color: #f0f0f0;
    margin-left: 5px;
  }
  .foot-btn > span,
  .foot-btn > i{
    font-size: 8px;
  }
  .blue-logo{
    width:300px;
    margin-top: 20px;
    border: 1px solid var(--color-sub);
    height: 100px;
  }
  .blue-logo > p{
    font-size: 10px;
    color: var(--color-sub2);
    font-weight: bold;
    padding: 20px 0 0 20px;
  }
  .f-detail{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
  }
  .f-detail > a > img{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-right: 10px;
  }
  .f-detail > p{
    font-size: 10px;
    font-weight: 200;
  }
}

/* (2-2)footer Tablet & Mobile 미디어쿼리2*/
@media screen and (max-width:909px) {
  footer{ margin-top:200px;}
  .f-sns{ position:relative; top: -100px; margin-bottom:200px;}
  .f-sns a:first-child{ 
    left:20px;  margin-top: -60px; 
    display: block; width:100px; height:40px; 
    text-align: center; line-height: 40px;
    border:1px solid #999; font-size:14px;
  }
  .f-sns a{ position: absolute; margin-top:400px; }
  .f-sns a:nth-child(2){ margin-left: 20px; }
  .f-sns a:nth-child(3){ margin-left: 60px; }
  .f-sns a:nth-child(4){ margin-left: 100px; }

  .introduce{
    position: absolute; left:10px; width:90%; 
    margin-top: -70px; 
  }
  .introduce > li{
    color: #000;
    border-right: 1px solid #000;
    padding: 0 10px;
    margin-bottom:10px;
    font-size: 12px;
    float:left;
    text-align: center;
  }

  .introduce > li:nth-last-child(1){ border: none; }
  .introduce-two,
  .introduce-trd{
    margin: 10px 0;
    font-size: 12px; line-height: 18px;
    color: var(--color-sub);
  }
  .f-osulloc>a, .f-list-trd{ display: none; }

  .f-wrap{  
    display: flex;  
    justify-content: space-around;
    position:relative; top:150px;
  }

  .f-wrap>div{ width:50%; }
  .f-wrap>div>*{ padding-left:20px; }
  .f-wrap>div:first-child{ border-right:1px solid #d9d9d9; }
  .f-wrap>div p:first-child{ font-size:13px; font-weight: bold; margin:20px 0 10px 0; }
  .f-wrap>div p:first-child~*{  font-size: 12px; margin-bottom:5px; }

  /*평일,점심*/
  .f-list-one p:nth-child(4), .f-list-two p:nth-child(4){
      width:130px; line-height:20px;
  }
  .f-list-one p:nth-child(5){ display: none; }
  .f-sns a img{ width:26px; margin-bottom:5px; margin-right:5px; }
  .f-osulloc>a img{ mix-blend-mode: difference; }
  .f-osulloc{
    display: flex; justify-content: space-between; 
    padding: 20px 50px;
    margin-top:-190px; background: rgba(0,0,0,0.05);
  }
  .foot-btn, .blue-logo, .foot-btn > span{  display: none; }
}

