@charset "utf-8";

@font-face {
  font-family: 'Pretendard-Bold';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
} 
@font-face {
  font-family: 'Pretendard-ExtraLight';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
} 
@font-face {
  font-family: 'Pretendard-Medium';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
} 
:root{
  --header-bg: #131415;
  --section-bg: #1D2024;
  --clone-bg: #192532;
  --box-bg: #E4E4E4;
  --font-color-w: #fff;
  --font-color-b: #222;
  --point-color: #f00;
}
*{
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
  color: var(--font-color-w);
}
body{
  font-family: 'Pretendard';
}
.coord{
  position: fixed;
  top: 0;
  left: 0;
}
.box{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%,-50%);
  cursor: none;
  z-index: 40;
}
.fix-home{
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: var(--point-color);
  color: var(--font-color-w);
  text-align: center;
  line-height: 40px;
  font-size: 30px;
  position: fixed;
  right: 10px;
  bottom: 30px;
  z-index: 20;
}
a{
  text-decoration: none;
  color: inherit;
}
li{
  list-style: none;
}
/* header 영역 */
header{
  position: relative;
  top: 0;
  height: 100vh;
  background-color: var(--header-bg);
  z-index: 30;
}
.h-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}
.h-menu > h1{
  font-size: 1.5rem;
  font-weight: 500;
  padding: 30px;
  font-weight: 200;
}
.menu{
  display: flex;
  gap: 20px;
}
.menu > a{
  padding: 10px 15px;
  font-weight: 200;
  border: 1px solid var(--font-color-w);
  border-radius: 5px;
  font-size: 20px;
}
.menu > a:hover{
  background-color: var(--font-color-w);
  color: var(--font-color-b);
}
.h-txt{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.h-txt > p{
  font-size: 7rem;
}
/* main 영역 */
#one{
  background-color: var(--section-bg);
  height: 100vh;
}
.one-wrap{
  width: 90%;
  margin: 0 auto;
}
.one-wrap > h4{
  font-size: 32px;
  font-weight: 200;
  padding-top: 75px;
}
.one-txt{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.introduce > p,
.iam > p{
  margin-top: 40px;
  margin-bottom: 5px;
  font-size: 20px;
}
.skills > p{
  margin-bottom: 5px;
  font-size: 20px;
}
.introduce-txt, table{
  background-color: var(--box-bg);
  width: 500px;
  height: 250px;
  border-radius: 5px;
  color: var(--font-color-b);
  margin-bottom: 50px;
}
.introduce-txt > p{
  padding: 24px;
  font-size: 22px;
}
th{
  font-size: 22px;
}
.skills{
  padding: 30px 0;
  margin-left: 170px;
  margin-bottom: 80px;
}
.skills-list{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--box-bg);
  width: 1350px;
  height: 200px;
  border-radius: 5px;
}
.skills > .skills-list > li:nth-of-type(3) > img{
  width: 60px;
  height: 70px;
}
.skills > .skills-list > li> img{
  width: 70px;
  height: 70px;
}
.skills > .skills-list > li> img:hover{
  scale: 1.5;
  transition: 0.5s ;
}
/* 섹션영역 */
#two, .two{
  background-color: var(--clone-bg);
  height: 100vh;
}
#two > p,
.two > p{
  padding: 30px 20px 60px 40px;
  font-weight: 200;
  font-size: 24px;
}
.two-wrap{
  display: flex;
  justify-content: space-around;
}
.two-wrap > .img > a > img{
  width: 650px;
  height: 700px;
  border-radius: 5px;
  box-shadow: 0 0 4px #fff;
}
.two-wrap > .img > a > img:hover{
  scale: 1.1;
  transition: 0.3s;
}
.netflix-txt-p,
.netflix-txt,
.netflix-txt-one{
  width: 42%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.netflix-txt-p > p,
.netflix-txt > p,
.netflix-txt-one > p{
  font-size: 20px;
  margin-bottom: 7px;
  white-space: pre-line;
}
.netflix-txt-p > p:nth-of-type(1),
.netflix-txt > p:nth-of-type(1),
.netflix-txt-one > p:nth-of-type(1){
  font-size: 5rem;
  margin-bottom: 20px;
}
.netflix-txt > p:nth-of-type(2){
  margin-bottom: -12px;
}
.netflix-txt-one > p:nth-of-type(2){
  margin-bottom: -20px;
}
.netflix-txt-p > .btn,
.netflix-txt > .btn,
.netflix-txt-one > .btn{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 25px;
}
.netflix-txt-p > .btn > a,
.netflix-txt-one > .btn > a,
.netflix-txt > .btn > a{
  flex: 1;
  text-align: center;
  font-size: 28px;
  padding: 10px 50px;
  border-radius: 5px;
}
.netflix-txt-p > .btn > a:nth-of-type(1):hover,
.netflix-txt > .btn > a:nth-of-type(1):hover,
.netflix-txt-one > .btn > a:nth-of-type(1):hover{
  background-color: var(--point-color);
}
.netflix-txt-p > .btn > a:nth-of-type(2):hover,
.netflix-txt > .btn > a:nth-of-type(2):hover,
.netflix-txt-one > .btn > a:nth-of-type(2):hover{
  background-color: var(--font-color-w);
  color: var(--font-color-b);
}
.netflix-txt-p > .btn > a:nth-of-type(1),
.netflix-txt > .btn > a:nth-of-type(1),
.netflix-txt-one > .btn > a:nth-of-type(1){
  border: 1px solid var(--point-color);
  cursor: pointer;
}
.netflix-txt-p > .btn > a:nth-of-type(2),
.netflix-txt > .btn > a:nth-of-type(2),
.netflix-txt-one > .btn > a:nth-of-type(2){
  border: 1px solid var(--font-color-w);
  cursor: pointer;
}
/* 퍼블리싱 영역 */
#trd{
  background-color: var(--section-bg);
  height: 100vh;
}
#trd > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: 0 auto;
}
#trd > nav > p{
  padding: 40px 20px 40px 5px;
  font-weight: 200;
  font-size: 24px;
}
#trd > nav > .trd-menu > li{
  cursor: pointer;
  font-weight: 200;
  padding: 10px 15px;
  border: 1px solid var(--font-color-w);
  border-radius: 5px;
  font-size: 18px;
}
#trd > nav >.trd-menu{
  display: flex;
  gap: 20px;
}
#trd > nav > .trd-menu > li{
  font-weight: 200;
  font-size: 22px;
}
#trd > nav > .trd-menu > li:hover{
  background-color: var(--font-color-w);
  color: var(--font-color-b);
}
#trd{
  position: relative;
}
#trd > .chevron > p{
  position: absolute;
  top: 48%;
  transform: translateY(-50%);
  font-size: 2rem;
  cursor: pointer;
}
#trd > .chevron > p.left{
  left: 10px;
}
#trd > .chevron > p.right{
  right: 20px;
}
#trd > .slide-one{
  position: relative;
  width: 90%;
  max-width: 1550px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 50px;
}
#trd > .slide-one > ul > li > img,
#trd > .slide-two > ul > li > a > img,
#trd > .slide-trd > ul > li > a > img{
  width: 400px;
  height: 400px;
  box-shadow: 0 0 4px #fff;
}
#trd > .slide-one > ul > li > p,
#trd > .slide-two > ul > li > p,
#trd > .slide-trd > ul > li > p{
  text-align: center;
  margin-top: 10px;
}
#trd > .slide-one > ul{
  display: flex;
  gap: 150px;
  align-items: center;
  margin-top: 70px;
  transition: 0.5s ease;
}
#trd > .slide-two > ul,
#trd > .slide-trd > ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 120px;
  transition: 0.5s ease;
}
#trd > .slide-two > ul > li > a > img,
#trd > .slide-trd > ul > li > a > img{
  border-radius: 5px;
}
/* 푸터영역 */
footer{
  background-color: var(--header-bg);
}
.footer{
  width: 90%;
  margin: 0 auto;
}
.footer > p{
  font-weight: 200;
  padding-top: 30px;
  font-size: 32px;
}
.footer-wrap{
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
  padding: 50px 0;
}
.footer-wrap >.f-img >img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  box-shadow: 0 0 4px #fff;
}
.f-txt{
  width: 50%;
}
.f-txt > p,
.f-txt > span{
  font-weight: 200;
  font-size: 22px;
}
/* 반응형 */
@media screen and (max-width:1200px){
  #home > .h-menu > h1{
    font-size: 20px;
  }
  .h-menu > .menu > a{
    padding: 7px 12px;
    font-size: 17px;
  }
  .h-txt > p{
    font-size: 5rem;
  }
  .one-wrap > h4{
    font-size: 28px;
  }
  .one-txt{
    display: flex;
    align-items: center;
  }
  .one-txt,
  .skills{
    padding-top: 50px;
  }
  .introduce-txt > p{
    font-size: 18px;
  }
  .introduce-txt, table{
    background-color: var(--box-bg);
    width: 350px;
    height: 200px;
    border-radius: 5px;
    color: var(--font-color-b);
  }
  .introduce > p,
  .iam > p,
  .skills > p{
    font-size: 18px;
  }
  .introduce-txt > p{
    padding: 18px;
    font-size: 20px;
  }
  th{
    font-size: 18px;
  }
  .skills{
    padding: 20px 0;
    margin-left: 85px;
  }
  .skills-list {
    display: flex;
    justify-content: space-around;
    width: 890px;
  }
  #two, .two{
    height: 80vh;
  }
  #two > p,
  .two > p{
    padding: 40px 10px 30px 20px;
    font-weight: 200;
    font-size: 20px;
  }
  .two-wrap > .img > a > img{
    width: 450px;
    height: 500px;
  }
  .netflix-txt,
  .netflix-txt-one{
    width: 50%;
  }
  .netflix-txt-p > p,
  .netflix-txt > p, 
  .netflix-txt-one > p{
    font-size: 18px;
    margin-bottom: 5px;
  } 
  .netflix-txt-p > p:nth-of-type(1),
  .netflix-txt > p:nth-of-type(1),
  .netflix-txt-one > p:nth-of-type(1){
    margin-left: -4px;
    font-size: 52px;
    text-align: center;
    margin-bottom: 20px;
  }
  .netflix-txt > p:nth-of-type(2){
    margin-bottom: 0;
  }
  .netflix-txt-one > p:nth-of-type(2){
    margin-bottom: 0;
  }
  .netflix-txt-p > .btn,
  .netflix-txt > .btn,
  .netflix-txt-one > .btn{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    margin-top: 30px;
  }
  .netflix-txt-p > .btn > a,
  .netflix-txt-one > .btn > a,
  .netflix-txt > .btn > a{
    flex: 1;
    text-align: center;
    font-size: 24px;
    padding: 10px 30px;
    border-radius: 5px;
  }
  #trd > .chevron{
    display: none !important;
  }
  #trd > .slide-one{
    width: 700px;
  }
  #trd{
    height: 170vh;
  }
  #trd > nav > .trd-menu > li{
    font-weight: 200;
    padding: 8px 12px;
    border: 1px solid var(--font-color-w);
    border-radius: 5px;
    font-size: 18px;
  }
  #trd > .slide-one > ul{
    flex-wrap: wrap;
  }
  #trd > .slide-two > ul,
  #trd > .slide-trd > ul {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }
  #trd > .slide-one > ul > li > img{
    width: 270px;
    height: 270px;
  }
  #trd > .slide-two > ul > li > p,
  #trd > .slide-trd > ul > li > p{
    font-size: 20px;
    padding-bottom: 50px;
  }
  #trd > .slide-two > ul > li > a > img,
  #trd > .slide-trd > ul > li > a > img{
    width: 380px;
    height: 380px;
  }
  .footer > p{
    font-size: 28px;
  }
  .f-txt{
    width: 60%;
  }
  .f-txt > p{
    font-weight: 200;
    font-size: 19px;
  }
}
@media screen and (max-width:750px){
  .fix-home{
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    bottom: 10px;
    z-index: 30;
  }
  header{
    height: 70vh;
  }
  #one{
    height: 110vh;
    position: relative;
    z-index: 40;
  }
  .h-menu > h1{
    display: none;
  }
  .menu{
    margin: 0 auto;
    padding-top: 20px;
  }
  .h-menu > .menu > a{
    padding: 5px 10px;
    font-weight: 200;
    border: 1px solid var(--font-color-w);
    border-radius: 5px;
    font-size: 14px;
  }
  .h-txt > p{
    font-size: 3rem;
  }
  #one > .one-wrap > hr:nth-of-type(2){
    display: none;
  }
  .one-wrap{
    padding: 0;
  }
  .one-wrap > h4{
    font-size: 24px;
    font-weight: 200;
    padding-top: 50px;
  }
  .one-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* .introduce{
    margin-top: 10px;
  } */
  .introduce > p,
  .iam > p{
  margin-top: 15px;
  margin-bottom: 5px;
  } 
  .introduce-txt, table{
    background-color: var(--box-bg);
    width: 300px;
    height: 200px;
    border-radius: 5px;
    color: var(--font-color-b);
  }
  .introduce > p,
  .iam > p,
  .skills > p{
    font-size: 16px;
  }
  .introduce-txt > p{
    padding: 21px;
    font-size: 16px;
  }
  th{
    font-size: 16px;
  }
  .skills{
    padding: 10px 0;
    margin-left: 65px;
  }
  .skills-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--box-bg);
    width: 300px;
    height: 200px;
    border-radius: 5px;
  }
  .skills > .skills-list > li{
    text-align: center;
  }
  .skills > .skills-list > li > img{
    width: 40px;
    height: 40px;
  }
  .skills > .skills-list > li:nth-of-type(3) > img{
    width: 30px;
    height: 40px;
  }
  #two, .two{
    position: relative;
    height: 90vh;
  }
  #two > p,
  .two > p{
    padding: 20px 10px 20px 20px;
    font-weight: 200;
    font-size: 18px;
  }
  .two-wrap{
    display: flex;
    flex-direction: column;
  }
  .netflix-txt-p,
  .netflix-txt,
  .netflix-txt-one{
    width: 85%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    z-index: 20;
    margin-left: 35px;
  }
  .two-wrap > .img > a > img{
    filter: brightness(15%);
    width: 450px;
    height: 450px;
    margin-left: 17px;
    position: absolute;
    top: 25%;
  }
  .netflix-txt-p > p,
  .netflix-txt > p, 
  .netflix-txt-one > p{
    font-size: 16px;
    margin-bottom: 10px;
  } 
  .netflix-txt-one > p:nth-of-type(1){
    font-size: 3rem;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 60px;
  }
  .netflix-txt-p > p:nth-of-type(1){
    font-size: 3rem;
    text-align: center;
    margin-bottom: 110px;
    margin-top: 60px;
  }
  .netflix-txt > p:nth-of-type(1){
    font-size: 3rem;
    text-align: center;
    margin-bottom: 90px;
    margin-top: 60px;
  }
  .netflix-txt-p > .btn,
  .netflix-txt > .btn,
  .netflix-txt-one > .btn{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    margin-top: 70px;
  }
  .netflix-txt-p > .btn{
    margin-top: 120px;
  }
  .netflix-txt-one > .btn{
    margin-top: 110px;
  }
  .netflix-txt-p > .btn > a,
  .netflix-txt-one > .btn > a,
  .netflix-txt > .btn > a{
    flex: 1;
    text-align: center;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 5px;
  }
  #trd{
    height: 100%;
  }
  .chevron{
    display: none !important;
  }
  #trd > nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;
  }
  #trd > nav > p{
    display: none;
  }
  #trd > nav > .trd-menu{
    margin: 0 auto;
    padding-top: 40px;
  }
  #trd > nav > .trd-menu > li{
    font-weight: 200;
    padding: 5px 10px;
    border: 1px solid var(--font-color-w);
    border-radius: 5px;
    font-size: 15px;
  }
  #trd > .slide-one{
    width: 250px;
    margin: 0 auto;
    display: block ;
  }
  #trd > .chevron{
    display: none;
  }
  #trd > .slide-one > ul > li > img,
  #trd > .slide-two > ul > li > a > img,
  #trd > .slide-trd > ul > li > a > img{
    width: 250px;
    height: 250px;
  }
  #trd > .slide-one > ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
  }
  #trd > .slide-one > ul,
  #trd > .slide-two > ul,
  #trd > .slide-trd > ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  #trd > .slide-one > ul > li > p,
  #trd > .slide-two > ul > li > p,
  #trd > .slide-trd > ul > li > p{
    margin-top: 5px;
    font-size: 14px;
  }
  #trd > .slide-one > ul > li > p:last-child,
  #trd > .slide-two > ul > li > p:last-child,
  #trd > .slide-trd > ul > li > p:last-child{
    padding-bottom: 20px;
  }
  .footer > p{
    font-size: 24px;
  }
  .footer-wrap{
    display: block;
    padding: 25px 0;
  }
  .footer-wrap > .f-img > img{
    display: none;
  }
  .f-txt{
    width: 100%;
  }
  .f-txt > p{
    font-weight: 200;
    font-size: 13px;
  }
}